/*! HTML5 Boilerplate v5.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



header{
background-color: white;
color:black;

}
.comverse{
    width: 100%;
    height: 80px;
    position: fixed;
    background: #FFFFFF;
    box-shadow: 0 0 5px 1px #888888;
    top: 0; 
    z-index: 1000;
    left: 0;
    right: 0;
    margin: 0 auto; 
    padding: 0;
}
.comverse-logo{
    padding: 7px 0 0 0;
    float: left;
    display: inline-block;
}
.header-container{
  margin: 0 auto;
}

.nav{
    font-size: 13px;
    float: left;
    position: relative;
    padding-top: -10px;
    display: inline-block;
}
.navul{
    list-style-type: none;
    margin:0;
    padding-top: 45px;
    display: inline-block;
}

.navul > li{
    display: inline;
    padding: 0 10px;
    float: left;
    list-style: none;
}

.navul >li > a{
    color: #808080;
    text-decoration: none;
    display:block;
    outline:0;
    text-transform: uppercase;
}
.navul a:hover{
    color:#9370DB;
}
.navul > li:hover > .subnav{
  
  display: block;
}


.subnav {
   border: 1px solid rgba(0, 0, 0, 0.2);
   border-top: none;
   background: #D3D3D3;
   display: none;
   position: absolute;
   left: 0;
   right: 0;
   top: 62px;
}
.subnav a{
  text-decoration: none;
  display: block;
  
  color: #808080;
  padding: 5px;
  width: 100%;
}
.left {
    list-style: none;
    margin: 0;
	
    float:left;
}


.right {
    list-style: none;
    margin: 0;
    float:left;
}

.nav-side{
    float: right;
    font-size: 15px;
    padding-top: 0;
    display: inline-block;
    color: #808080;
    margin: 0 auto;
}

.nav-side a{
    color:#808080;
    text-decoration: none;
    display: inline-block;
    padding-top: 10px;
    padding-right: 80px;
    margin: 0 auto;

}
.nav-side a:hover{
    color:#9370DB;
}
.search{
    float: right;
    display: inline-block;
    position: relative;
    padding-top: 11px;

}

.headlines{
    padding:0;
    margin: 0 auto;
}

.header-what {
  font-size: 2em;
  margin: 0 auto;
  padding-top: 20px;
}


.section-banner{
    padding-top: 75px;
    background: url(../img/slide-bg-complexity.jpg) no-repeat center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    color: #FFFFFF;
}


.container {
  padding: 0;
  max-width: 960px;
  margin: 0 auto;
}

.carousel-nav{
  padding: 0;
  list-style-type: none;
  left: 0;
  font-size: 0;
  margin-top: 20px;
}
.carousel-nav li{
  background-color: #A9A9A9;
  width: 15px;
  height: 15px;
  float: left;
  margin-left: 5px;
  padding: 0;
  border-radius: 3px;
  display: inline-block;
}
.carousel-nav li:hover{
  background-color: #3498db;
}

.cubes{
      list-style-type: none;
    padding: 0;
	
    margin-top: 100px;
    padding-bottom: 2em;
    margin-bottom: -1.3em;
}


.rounded-cube{


  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  display: inline-block;
  width: 250px;
  cursor: pointer;
  padding: 10px 15px;
  margin-right: 20px;
}


.rounded-cube a{
  text-decoration: none;
  color: #FFFFFF;
}

.rounded-cube:hover{
  opacity: 1;
}

.cube-title{
  padding: 0;
  height: 100px;
  width:220px;
  margin-top: 0;
  color: #FFFFFF;
  font-weight: normal;
}
.purple-cube{
  background: #FF69B4;
  opacity: 0.80;
}
.green-cube{
  background: #32CD32;
  opacity: 0.80;
}

.orange-cube{
  background: #FF8C00;
  opacity: 0.80;
}


.more-btn {
  font-family: arial;
  color: #FFFFFF !important;
  font-size: 14px;
  padding: 8px 22px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: #63B8EE;
  background: linear-gradient(top,  #3196C9,  #1A8CC6);
  background: -ms-linear-gradient(top,  #3196C9,  #1A8CC6);
  background: -webkit-gradient(linear, left top, left bottom, from(#3196C9), to(#1A8CC6));
  background: -moz-linear-gradient(top,  #3196C9,  #1A8CC6);
}


.more-btn:hover {
  color: #FFFFFF !important;
  background: #468CCF;
  background: linear-gradient(top,  #36A8E1,  #1898D7);
  background: -ms-linear-gradient(top,  #36A8E1,  #1898D7);
  background: -webkit-gradient(linear, left top, left bottom, from(#36A8E1), to(#1898D7));
  background: -moz-linear-gradient(top,  #36A8E1,  #1898D7);
}



.sections{
  background: #6495ED;
  color: #FFFFFF;
  text-align: center;
  height: 340px;
}


.sections figcaption{
  color: #FFFFFF; 
  padding-top: 10px;
}

.section-banner {
  padding: 0;
  max-width: 960px;
  margin: 0 auto;
}

.section-banner{
background-image :url("../img/slide-bg-complexity.jpg");
background-size: cover;
display:block;

}


.solutions{

background-color: rgb(65, 162, 201);
display:block;
}


.do-list{
  list-style-type: none;
  padding: 20px 0 20px 0;
}
.do-list li{
  display: inline-block;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
}
.do-list > li > a {
  text-decoration: none;
}
.do-list > li > a > figure {
  margin: 0 auto;
  height: 60px;
  text-align: center;
}



.icon-1{
  height: 60px;
  background: url(../img/solution_icon_smart-money.png) no-repeat left;
}
.icon-1:hover{
  height: 60px;
  background: url(../img/solution_icon_smart-money_hover.png) no-repeat left;
}
.icon-2{
  height: 60px;
  background: url(../img/solution_icon_biz-analitics.png) no-repeat left;
}
.icon-2:hover{
  height: 60px;
  background: url(../img/solution_icon_biz-analitics_hover.png) no-repeat left;
}
.icon-3{
  height: 60px;
  background: url(../img/solution_icon_optimize-efficnt.png) no-repeat left;
}
.icon-3:hover{
  height: 60px;
  background: url(../img/solution_icon_optimize-efficnt_hover.png) no-repeat left;
}
.icon-4{
  height: 60px;
  background: url(../img/solution_icon_biz-transform.png) no-repeat left;
}
.icon-4:hover{
  height: 60px;
  background: url(../img/solution_icon_biz-transform_hover.png) no-repeat left;
}
.icon-5{
  height: 60px;
  background: url(../img/solution_icon_personal.png) no-repeat left;
}
.icon-5:hover{
  height: 60px;
  background: url(../img/solution_icon_personal_hover.png) no-repeat left;
}
.icon-6{
  height: 60px;
  background: url(../img/solution_icon_diti-cx.png) no-repeat left;
}
.icon-6:hover{
  height: 60px;
  background: url(../img/solution_icon_diti-cx_hover.png) no-repeat left;
}

.news{
background-image :url("../img/news-and-events-bg.jpg");

background-size: cover;
	background-repeat: no-repeat;
display:block;

}



a {
 color: #fff;
text-decoration: none;

}

footer a:hover {
    text-decoration: underline;
}

ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.highlight{

background-color: rgba(255,255,255,0.4);
}

.highlight[class$="footer"]{

background-color: rgba(255,255,255,0.1);
}
.highlight .headline{
color: rgb(78,167,211);

}
.date{
color: white;
display:block;
width:30px;
background-color: rgb(51,153,204);

}
.Subscribe-to-Comverse{
background-color: rgba(255,255,255,0.2);
display: block;
height:2px;
width: 200px;
}
.button[class$="signup"]{
background-color: rgb(65,175,230);
border-radius: 2px;
width: 65px;
padding: 5px;
padding-left: 10px;
padding-right: 10px;
}
.button{
background-color: rgb(42,148,202);
color:white;
 border-radius: 5px;
width: 190px;
display: block;
padding: 10px;
padding-left: 30px;
padding-right: 30px;

}



.Success-Stories{
color:black;
background-color: rgb(236,236,236);
}















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }














/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
